<h1>
  {{title}}
</h1>

<button (click)="load()">Load <i class="fa fa-folder-open"></i></button>
<button (click)="save()">Save <i class="fa fa-save"></i></button>
<a #downloadBtn (click)="saveSVG()">Download SVG <i class="fa fa-save"></i></a>

<div class="modeler">
  <div id="canvas"></div>
  <div id="properties"></div>
</div>