/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

@import "~bpmn-js/dist/assets/diagram-js.css";
@import "~bpmn-js/dist/assets/bpmn-font/css/bpmn.css";
@import "~bpmn-js-properties-panel/dist/assets/bpmn-js-properties-panel.css";
@import "~bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css";

@import "~diagram-js-minimap/assets/diagram-js-minimap.css";


.djs-minimap {
    margin-right: 300px !important;
    margin-top: 350px  !important;
    position: absolute !important;
    top: 0px !important;
    right: 20px !important;
    overflow: hidden !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    border: solid 1px #CCC !important;
    border-radius: 2px !important;
    box-sizing: border-box !important;
    user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -webkit-user-select: none !important;
  }

 a.bjs-powered-by {
    display: none !important;
}